<!DOCTYPE html>
<html>

<head>
    <title>Stock Prediction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/flexboxgrid.min.css') }}" rel="stylesheet"/>
</head>

<body>
    <div class="loader">
    </div>

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <h1>Stock Price Predictor</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="contain">

        <div class="input">
            <label for="comp">Enter Company Ticker</label>
            <!-- <form method = "POST">
                <p><input type ="text" name = "ticker" /></p>
                <a href="{{ url_for('prediction') }}" style="color: white;"}><input type="button" class="btn btn-secondary" name="Proceed" value="Predict"></a>

             </form> -->

             <form action="/" method="post">
                
                <input type="text" id="comp" name="tinker">
                <br>
                <input type="submit" value="Submit" class="btn btn-secondary" id="button1">
              </form>
            
            <!-- <button type="button" class="btn btn-secondary" id="button1">Predict</button> -->
        </div>



        <div class="foot">
            <p>© Copyright 2019. All Rights Reserved. </p>
        </div>
    </div>
</body>

</html>
